.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 400px;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__content {
    text-align: center;
    max-width: 80%;
    padding: 10px;

    ::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: 1;
      clip-path: polygon(72% 49%, -43% 99%, 100% 100%, 100% 35%);
      background: #151515;
    }

    @media (width <= 768px) {
      max-width: 90%;
    }
  }

  &__title {
    font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
      sans-serif;
    font-size: clamp(24px, 5vw, 44px);
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    text-transform: uppercase;
    margin-bottom: 0;

    @media (width <= 768px) {
      font-size: clamp(26px, 4vw, 36px);
    }
  }

  &__subtitle {
    font-size: clamp(14px, 3vw, 16px);

    @media (width <= 768px) {
      font-size: clamp(16px, 2.5vw, 20px);
    }
  }

  &--dark {
    background-color: rgb(0 0 0 / 50%);
  }

  &--light {
    background-color: rgb(255 255 255 / 50%);
  }
}
