@import "bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: Bangers, cursive;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.decorative-style {
  position: relative;
  margin: 48px 0;
  width: max-content;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.625rem;

  @media (width <= 768px) {
    font-size: 1.25rem;
  }

  font-optical-sizing: auto;
  letter-spacing: 1px;
  text-transform: uppercase;

  &::before,
  &::after {
    background-color: #c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
  }

  &::after {
    left: -6px;
    top: calc(100% + 3px);
    transform-origin: right top;
  }

  &::before {
    left: 53px;
    top: -8px;
    transform-origin: left bottom;
  }
}
