name: deploy website
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Generate environment file
        env:
          MARVEL_DETAILS: ${{ secrets.MARVEL_DETAILS }}
        run: node .github/server.js
      - name: Build
        run: npm run build

  deploy_preview:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel
        run: npm install --global vercel
      - name: Pull Vercel Preview
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Generate environment file
        env:
          MARVEL_DETAILS: ${{ secrets.MARVEL_DETAILS }}
        run: node .github/server.js
      - name: Build Vercel
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Vercel Preview
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

  deploy_production:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel
        run: npm install --global vercel
      - name: Pull Vercel Production
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Generate environment file
        env:
          MARVEL_DETAILS: ${{ secrets.MARVEL_DETAILS }}
        run: node .github/server.js
      - name: Build Vercel Production
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Vercel Production
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
